@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 1270px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
}

header .container{
    justify-content: space-around;
    align-items: center;
}

.brand{
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.brand span{
    color: #5D5FEF;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    padding: 0 16px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #5D5FEF;
    font-size: 25px;
}

.line{
    border: 1px solid #5D5FEF;
    height: 20px;
}

.button{
    font-family: 'Work Sans', sans-serif;
    background-color: #5D5FEF;
    font-size: 18px;
    color: #FFF;
    border-radius: 12px;
    padding: 20px 30px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}