@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body{
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#2be4ff,#FFF);
}

fieldset{
    padding: 20px;
    font-size: 20px;
    background-color: #FFF;
}

legend{
    font-family: 'Coming Soon', cursive;
    background-color: #FFF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top:2px solid #000;
}

.row{
    display: flex;
    margin-bottom: 15px;
    
}

label{
    padding: 2px 5px 0;
    font-family: 'Coming Soon', cursive;
    border-left: 3px solid #0078ff;
    border-bottom: 2px solid #0078ff;
}

input,select{
    margin-right: 30px;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #0078ff;
    
}

input:focus{
    outline: 0;
    border-bottom: 2px solid #dc3545;
}

#reset{
    color: #FFF;
    background-color: #dc3545;
    padding: 10px;
    border: none;
    border-radius: 10%;
}

#reset:hover{
    box-shadow: 10px 10px 10px;
    transition: 1s;
}

#submit{
    color: #FFF;
    background-color: #0078ff;
    padding: 10px;
    border: none;
    border-radius: 10%;
}