body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content:flex-end;
    height: 60px;
    font-size: 13px;

}

.links{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
}

.menu, .accont{
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu img{
    width: 20px;
    height: 20px;
}

.accont img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    height: calc(100% - 560px);
    min-height: 92px;
    max-height: 290px;

}

.mid{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.search{
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    padding: 10px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 100%;
    max-width: 580px;
    min-width: 360px;
}

.search:hover{
    box-shadow: 2px 2px 10px #ccc;
}

.search input{
    width: 100%;
    margin-right: 10px;
    border: none;
}

.search input:focus{
    outline: 0;
}

.searchIcon{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.search a{
    margin-right: 10px;
}

.tia{
    width: 20px;
    margin-right: 10px;
}

.micGoogle{
    width: 14px;
    margin-right: 10px;
}

.lens{
    width: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 580px;
    min-width: 360px;
    margin-top: 25px;
}

.buttons a{
    text-decoration: none;
    color: #000;
    background-color: #f8f9fa;
    padding: 12px;
    margin: 0 5px;
    font-size: 14px;
    color: #3c4043;
}

.buttons a:hover{
    border: 1px solid #f8f9fa
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: #70757a;
    font-size: 14px;

}

footer p{
    margin: 0;
    padding: 15px 30px;
}

.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #dfe1e5;
    padding: 0 20px;
}

.about ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

.about ul a{
    text-decoration: none;
    color: #70757a;
    padding: 15px;
}

@media (max-width:610px){
    .mid{
        display: block;
    }
}

@media (max-width:1200px){
    .about{
        justify-content: space-around;
    }
}

@media (max-width:425px){
    .search{
        width: auto;
        min-width: auto;
    }

    .buttons{
        min-width: auto;
    }


}