@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-image: url(../images/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 700px;
    background-color: rgb(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.image{
    display: flex;
    background-image: url(../images/arianoSuassuna.jpg);
    background-size: cover;
    width: 640px;
    height: 360px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 30px;
}

.quote{
    height: 110px;
    width: 50%;
    background-color: rgb(204, 204, 204, 0.8);
    margin-bottom: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 100px;
}

.image q{
    font-size: 18px;
    font-weight: bolder;
    text-align: justify;
}

h2, h3{
    margin: 10px;
}

h1{
    text-align: center;
}

.content p{
    text-indent: 30px;
    text-align: justify;
}

footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #000;
    font-size: 12px;
}

footer a{
    text-decoration: none;
    color: #000;
}

footer a:hover{
    color: #0078ff;
}

@media (max-width:425px){

    .container{
        width: 300px;
    }

    .content{
        font-size: 12px;
        padding: 0 10px;
    }

    .image{
        width: 300px;
        height: 170px;
    }

    .quote{
        width: 47%;
        height: 50px;
        margin: 0;
    }
    
    .image q{
        font-size: 9px;
    }

    ul{
        padding: 0 17px;
    }

    footer{
        font-size: 8px;
    }
}