*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

.mainHeader{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.brand{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #727272;
}

nav .active, a:hover{
    background-color: #39AAE1;
    color: #FFF;
}

.menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin: 40px 20px;

}

.mm_line{
    border: 2px solid #39AAE1;
}

#banner{
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 670px;
}

.column{
    flex-direction: column;
}

.bannerText{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    color: #FFF;
    text-shadow: 1px 1px 1px #555;
}

.bannerText h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.bannerText p{
    font-size: 20px;
    margin: 25px 0 0 0;
    padding: 0;
}

.cardArea{
    display: flex;
    height: 210px;
}

.cardArea h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    color: #FFF;
    padding: 30px;
    font-size: 13px;
}

.cardColor1{
    background-color: #39AAE1;
}

.cardColor2{
    background-color: #0079C7;
}

.cardColor3{
    background-color: #2B4C99;
}

.cardArea p{
    margin-top: 25px;
}

.cardArea a{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #FFF;
    color: #FFF;
    margin-top: 15px;
    width: 85px;
}

.card .row{
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #4468B2;
}

.row p{
    padding: 0;
    margin: 10px 0;
}

.centerArea{
    display: flex;
    justify-content: center;
}

.content{
    flex: 2;
}

aside{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.widgetTittle{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.widgetTittleBar{
    width: 45px;
    height: 2px;
    background-color: #42b3e5;
}

.widgetContent{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

article header .row{
    display: flex;
    color: #FFF;
    font-size: 10px;
    margin-bottom: 20px;
}

.data{
    padding: 10px;
    background-color: #2B4C99;
}

.coments{
    padding: 10px;
    font-size: 8px;
    background-color: #39AAE1;
    margin-left: 5px;
}

.widgetContent article{
    flex: 1;
    min-width: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #c0c0c0;
}

.widgetContent header img{
    width: 100%;
}

.widgetContent .newsFooter{
    font-size: 12px;
    color: #727272;
    margin: 30px 0;
}

.link a{
    color: #727272;
    margin-left: 5px;
}

.link a:hover{
    background: none;
    color: #0079C7;
}

.departments{
    display: flex;
    flex-direction: column;
}

.departments .widgetContent{
    flex: 1;
    align-content: space-between;
}

.departments .row{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.departments .box{
    width: 150px;
    height: 140px;
    background-color: #39AAE1;
}

.make h3{
    font-size: 14px;
    padding: 15px 0;
}

.make img{
    width: 40px;
    margin-right: 10px;
}
.MakeContact{
    display: flex;
    flex-direction: column;
}
.MakeContact .row {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #c0c0c0;
}

footer{
    display: flex;
    justify-content: center;
    height: 530px;
    background-color: #202020;
    color: #FFF;
}

.cardLinks{
    height: 110px;
}

.cardLinks p {
    margin-top: 10px;
}

.footerArea{
    display: flex;
    flex: 1;
    color: #c0c0c0;
}

.footerAreaContent{
    flex: 1;
    font-size: 14px;
}

.footerAreaContent{
    display: flex;
    flex-direction: column;
}

address{
    margin-top: 10px;
}
address .row{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.footerAreaContent .widgetContent{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.footerAreaContent .widgetContent p{
    margin-top: 0;
}

.socialMedia{
    display: flex;
    margin-top: 20px;
}

.socialMedia a{
    text-decoration: none;
    background-color: #555;
    margin-right: 5px;
}
.socialMedia img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

.footerAreaContent .widgetContent .row{
    display: flex;
}

.posts .row{
    margin-bottom: 20px;
}
.footerAreaContent .widgetContent span{
    margin-right: 5px;
}

.linkPosts{
    text-decoration: none;
    color: #39AAE1;
}

.linkPosts:hover{
    background: none;
    color: #0079C7;
}

.copyright{
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-top: 1px solid #555;
    font-size: 12px;
    color: #555;
}

.copyright p{
    margin: 10px 0;
}

.copyright a{
    color: #c0c0c0;
    text-decoration: none;
}

.copyright a:hover{
    background: none;
    color: #39AAE1;
}

@media (min-width:601px) and (max-width:768px){
    .brand img{
        width: 170px;
        margin-left: 10px;
    }

    nav ul{
        margin-right: 25px;
    }

    nav a{
        padding: 5px;
        font-size: 14px;
    }

    .bannerText{
        margin-left: 10px;
    }

    .content{
        margin-left: 10px;
    }

    .departments .row{
        flex-direction: column;
        align-items: center;
    }

    .departments .row .box{
        margin-bottom: 20px
    }

    .MakeContact .row{
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    footer{
        height: auto;
    }

    .footerArea{
        margin-left: 10px;
    }

    .copyright{
        margin: 0 10px;
    }
}

@media (max-width:600px) {

    header .container{
        flex-direction: row;
    }

    .mainHeader{
        height: auto;
    }

    .brand{
        margin-left: 10px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFF;
    }

    #banner{
        height: auto;
        background-size: cover;
    }

    .bannerText{
        padding: 100px 10px;
        background-image: url(../images/newsImage2.png);
        background-size: cover;
        max-width: 100%;

    }
    .bannerText h1{
        font-size: 40px;
    }
    .bannerText p{
        font-size: 17px;
    }

    .cardArea{
        height: auto;
        flex-direction: column;
    }

    .container{
        flex-direction: column;
    }

    .content{
        margin-left: 10px;
    }

    .departments .row{
        justify-content: space-evenly;
        height: 170px;
    }

    .make h3{
        margin-top: 0;
        margin-bottom: 30px;
        padding: 0;
    }

    footer{
        height: auto;
    }

    .footerArea{
        flex-direction: column;
    }

    .footerAreaContent{
        margin-left: 10px;
    }

    .copyright{
        margin: 0 10px;
        font-size: 10px;
    }

}