@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

:root{
    --red: #770000;
}

@keyframes img{
    0%{opacity: 0%;}
    100%{opacity: 100%;}

}

@keyframes bol{
    0%{margin-left: 0%;}
    50%{margin-left: calc(100% - 300px);}
    100%{margin-left: 0%;}
}

@keyframes red{
    0%{background-color: red;}
    25%{background-color: blue;}
    50%{background-color: green;}
    75%{background-color: blue;}
    100%{background-color: red;}
}

@keyframes green{
    0%{background-color: green;}
    25%{background-color: red;}
    50%{background-color: blue;}
    75%{background-color: red;}
    100%{background-color: green;}
}

@keyframes blue{
    0%{background-color: blue;}
    25%{background-color: green;}
    50%{background-color: red;}
    75%{background-color: green;}
    100%{background-color: blue;}
}

header{
    text-align: center;
}

header img{
    width: 150px;
    border-radius: 50%;
    animation: img;
    animation-duration: 4s;
}

header a{
    text-decoration: none;
    font-size: 20px;
}



h1{
    color: var(--red);
}

.tela{
    display: flex;
    flex-direction: row;
    animation: bol;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.bola{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#red{
    background-color: #F00;
    animation: red;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#green{
    background-color: #0F0;
    animation: green;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#blue{
    background-color: #00F;
    animation: blue;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

article header{
    font-size: 20px;
    color: #F00;
}

article p{
    font-size: 25px;
    font-family: 'Coming Soon', cursive;
    
}

ul{
    list-style-type: none;
}

table{
    width: 400px;
    text-align: center;
}

table thead{
    background-color: darkcyan;
}

table tbody{
    background-color: blueviolet;
}

th,td{
    border: 2px solid #000;
}

tbody tr:hover{
    background-color: aliceblue;
}

form, label, input, select{
    margin-bottom: 10px;
    
}

select{
    width: 200px;
}

.orientation{
    display: flex;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
}

@media (orientation: landscape){
    .orientation{
        flex-direction: row;
    }
}

@media (orientation: portrait){
    .orientation{
        flex-direction: column;
    }
}

/* hack para video responsivo */
.video{
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.video-area{
    position: relative;
    height: 0px;
    padding: 0px 0px 56.25%;
}

.video-area iframe{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0px;
}

.shadow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.objeto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: #00F;
    font-size: 20px;


}

.objeto:hover{
    box-shadow: 10px 10px 10px 10px #888;
    transition: all 1s linear;
}

.textos{
    font-size: 25px;
    font-weight: bold;
    color: #F00;
    text-shadow: 8px 8px 3px #888;
}

/* Aplicando CSS por atributo */

.atributo [for="name"]{
    color: #00F;
}

.atributo [required]{
    border-color: #F00;
}

/* *= contido ^= começando com $= final*/
.atributo a[href*="google"]{
    text-decoration: none;
    color: #0F0;
}

li:empty{
    width: 10px;
    height: 10px;
    background-color: aqua;
}

.firstLetter p::first-letter{
    font-size: 20px;
    font-weight: bold;
}

.firstLetter p::first-line{
    background-color: rgba(255, 255, 0, 0.603);
}

.element{
    display: flex;
}

.element div{
    width: 20px;
    height: 20px;
    background-color: #770000;
}

.element div:first-child{
    background-color: #00F;
}

.element div:last-child{
    background-color: #0F0;
}

.negative :not(p){
    background-color: #F00;
}

.nth div:nth-child(2){
    background-color: #F00;
}

/* Seleciona negativo, de baixo pra cima*/

.nth div:nth-last-child(2){
    background-color: #00F;
}