@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');


h1{
    color: red;
}

.tela{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bola{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#red{
    background-color: #F00;
}

#green{
    background-color: #0F0;
}

#blue{
    background-color: #00F;
}

article header{
    font-size: 20px;
    color: #F00;
}

article p{
    font-size: 25px;
    font-family: 'Coming Soon', cursive;
    
}

ul{
    list-style-type: none;
}

table{
    width: 400px;
    text-align: center;
}

table thead{
    background-color: darkcyan;
}

table tbody{
    background-color: blueviolet;
}

th,td{
    border: 2px solid #000;
}

tbody tr:hover{
    background-color: aliceblue;
}

form{
    
}